/* Estilos personalizados */
.main-section {
  background: url("https://images.unsplash.com/photo-1699810568196-5970d8bf0ec0?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat center center;
  background-size: cover;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}
.card {
  margin-bottom: 20px;
}

.card img {
  height: 200px;
  object-fit: cover;
}

.espacio-abajo {
  height: 100px;
}
